.header-bar {
    width: 100vw;
    height: 5vh;
    background-image: linear-gradient(to bottom, rgba(100,120,250,.3) 2%, rgba(100,120,250,.7));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

mat-tab-group {
    height: 100%;
}

#header-bar-logo, #header-bar-log-in-button {
    height: 100%;
    flex-basis: 10%;
}

#header-bar-logo {
    line-height: 45px;
}